<section class="site-section">
    <div class="add-accessories">
        <div class="form-add-accessory">
            <span class="accessory">Accessory</span>
            <form class="form" #addAccessoryForm="ngForm" (ngSubmit)="addAccessory(addAccessoryForm)">
                <h3>Accessory</h3>
                <input type="text" name="name" placeholder="Name" ngModel #inputNameAccessory="ngModel" required minlength="5" maxlength="25">
                <div class="error-msg" *ngIf="inputNameAccessory.dirty && inputNameAccessory.errors?.['required']">Name is required!</div>
                <div class="error-msg" *ngIf="inputNameAccessory.dirty && inputNameAccessory.errors?.['minlength']">Name must be between 5 and 25 charachters</div>

                <input type="text" name="imageUrl" placeholder="Image URL" ngModel #inputImageUrlAccessory="ngModel" required pattern="^https?:\/\/.+">
                <div class="error-msg" *ngIf="inputImageUrlAccessory.dirty && inputImageUrlAccessory.errors?.['required']">Image URL is required!</div>
                <div class="error-msg" *ngIf="inputImageUrlAccessory.dirty && inputImageUrlAccessory.errors?.['pattern']">Provide a valid Image URL!</div>

                <input type="text" name="type" placeholder="Type" ngModel #inputTypeAccessory="ngModel" required pattern="\b(iphone|ipad|imac)\b">
                <div class="error-msg" *ngIf="inputTypeAccessory.dirty && inputTypeAccessory.errors?.['required']">Type is required!</div>
                <div class="error-msg" *ngIf="inputTypeAccessory.dirty && inputTypeAccessory.errors?.['pattern']">Provide a valid product type iphone, ipad or imac!</div>

                <button>Add Accessory</button>
            </form>
        </div>
    </div>
</section>