<section class="site-section ipad-details-container">
    <div class="ipad-details-product">
        <div class="ipad-details-image">
            <img src="../../../../assets/images/catalog/ipads/ipad-pro.png">
        </div>
        <div class="ipad-details">
            <h3>iPad Pro</h3>
            <div class="ipad-details-list-content">
                <ul class="ipad-details-list">
                    <li>
                        <strong>Color:</strong>
                        <p>Space Grey</p>
                    </li>
                    <li>
                        <strong>Display:</strong>
                        <p>12.9-inch</p>
                    </li>
                    <li>
                        <strong>Storage:</strong>
                        <p>256 GB</p>
                    </li>
                    <li>
                        <strong>Battery Life:</strong>
                        <p>Up to 24 hours video playback</p>
                    </li>
                </ul>
            </div>
            <div class="ipad-details-description">
                <p>The ultimate iPad experience with the most advanced technology.</p>
            </div>
        </div>
        <div class="ipad-details-price-container">
            <div class="ipad-details-price-box">
                <span class="ipad-details-price">$1099<span class="ipad-details-superscript">,99</span></span>
            </div>
            <div class="ipad-details-buttons">
                <a class="ipad-add-accessory-button" href="/pages/ipad-attach-accessory.html">Attach accessory</a>
                <div class="ipad-edit-delete">
                    <a class="ipad-edit-button">Edit</a>
                    <a class="ipad-delete-button">Delete</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section imac-accessories-container">
    <h3>Accessories</h3>
    <div class="imac-accessories-grid">
        <div class="imac-accessory-card">
            <img src="../../../../assets/images/apple-accessories/ipad-keyboard.png">
            <h4>iPad Keyboard</h4>
        </div>
        <div class="imac-accessory-card">
            <img src="../../../../assets/images/apple-accessories/airpods-pro.jpg">
            <h4>AirPods Pro</h4>
        </div>
        <div class="imac-accessory-card">
            <img src="../../../../assets/images/apple-accessories/adapter.jpg">
            <h4>Adapter</h4>
        </div>
        <div class="imac-accessory-card">
            <img src="../../../../assets/images/apple-accessories/cable.jpeg">
            <h4>Cable</h4>
        </div>
    </div>
    <!-- <h3 class="imac-no-accessories">This product has no accessories yet...</h3> -->
</section>