<section class="site-section">
    <div class="iphone-edit">
        <div class="form-iphone-edit">
            <form>
                <span class="iphone-edit-span">iPhone</span>
                <h3>iPhone</h3>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Image URL">
                <input type="text" placeholder="Color">
                <input type="text" placeholder="Battery Life">
                <input type="text" placeholder="Description">
                <input type="number" placeholder="Display (inch)">
                <input type="number" placeholder="Storage">
                <input type="number" placeholder="Price">
                <button>Edit</button>
            </form>
        </div>
    </div>
</section>