<section class="site-section attach-accessory">
    <h2>Attach a new accessory</h2>
    <div class="attach-accessory-content">
        <div class="attach-accessory-item">
            <h3>iPhone 15 Pro Max</h3>
            <img class="iphone-accessory-image" src="../../../../assets/images/catalog/iphones/iphone-15-pro-max.png">
        </div>

        <form class="attach-accessory-form">
            <label for="accessory">Accessories</label>
            <select id="accessory" name="accessory">
            <option disabled selected>-- Select accessory --</option>
            <option value="1">iPhone Case</option>
            <option value="2">AidPords Pro</option>
            <option value="3">iMac Mouse</option>
            <option value="4">iMac Keyboard</option>
            <option value="5">iPad Keyboard</option>
            </select>
            <input class="attach-accessory-button" type="submit" value="Attach">
        </form>

        <!-- <h4 class="attach-accessory-no-products">This product comes with every available accessory <br> or none are available...</h4> -->
    </div>
</section>