<footer class="site-footer">
    <div class="footer-container">
        <div class="contact-and-about">
            <ul>
                <p class="contact">Contact</p>
                <li>
                    <i class="fa-brands fa-github"></i>
                    <a href="https://github.com/emilbankov" target="_blank">https://github.com/emilbankov</a>
                </li>
                <li><i class="fa-regular fa-envelope"></i>emilbankov17d@gmail.com</li>
                <li><i class="fa-solid fa-phone"></i>+359 899 507 113</li>
                <li><i class="fa-solid fa-location-dot"></i>Plovdiv, Bulgaria</li>
            </ul>

            <ul>
                <p class="shop-and-learn">Shop and Learn</p>
                <li><a routerLink="/">Store</a></li>
                <li><a routerLink="/imac-catalog">Mac</a></li>
                <li><a routerLink="/ipad-catalog">iPad</a></li>
                <li><a routerLink="/iphone-catalog">iPhone</a></li>
            </ul>

            <div class="about-container">
                <p class="about">About Our Products<a href="#">Apple</a></p>
                <p class="about-info">
                    Unmatched performance, affordability, and luxury define all Apple products. From powerful
                    functionality to <br> budget-friendly elegance.
                </p>
            </div>
        </div>

        <div class="copyright-container">
            <p class="copyright">Copyright © 2023 Apple Inc. All Rights Reserved | Apple Clone</p>
            <p>Bulgaria</p>
        </div>
    </div>
</footer>