.site-section.attach-accessory {
    width: 1200px;
    margin: 112.5px auto 72.5px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f7;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 3em;
}

.site-section.attach-accessory h2 {
    font-size: 2em;
    line-height: 2.6rem;
    letter-spacing: -.1px;
    font-weight: 600;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.attach-accessory-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attach-accessory-content .attach-accessory-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    margin-bottom: 3em;
}

.attach-accessory-content .attach-accessory-item h3 {
    font-weight: 600;
    line-height: 2.4rem;
    letter-spacing: -.4px;
    margin-bottom: 1rem;
}

.attach-accessory-content .attach-accessory-item img.imac-accessory-image {
    width: 300px;
    height: 240px;
}

.attach-accessory-content .attach-accessory-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.attach-accessory-form label {
    width: 250px;
    text-align: center;
    line-height: 1.85rem;
    background-color: #000000;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.attach-accessory-form select {
    font-size: 1em;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 1em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center;
}

.attach-accessory-form select:focus {
    outline: none;
    border-color: #000000;
}

.attach-accessory-button {
    line-height: 1.25rem;
    letter-spacing: -.4px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 9px 20.9px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    background-color: #000000;
}

.attach-accessory-no-products {
    font-weight: 600;
    line-height: 1.6rem;
    letter-spacing: .2px;
    font-style: italic;
    text-align: center;
}