<section class="site-section iphone-15-pro">
    <div class="container">
        <h1>iPhone 15 Pro</h1>
        <h4>Titanium. So strong. So light. So Pro.</h4>
        <div class="links">
            <a href="add-accessories.html">Accessories ></a>
            <a href="iphone.html">Buy ></a>
        </div>
    </div>
</section>

<section class="site-section iphone-15">
    <div class="container">
        <h1>iPhone 15</h1>
        <h4>New camera. New design. Newphoria.</h4>
        <div class="links">
            <a href="add-accessories.html">Accessories ></a>
            <a href="iphone.html">Buy ></a>
        </div>
    </div>
</section>

<section class="site-section vision-pro">
    <div class="container">
        <div class="column">
            <h2></h2>
            <h4>Welcome to the era of spatial computing.</h4>
        </div>
    </div>
</section>

<section class="site-section collection">
    <div class="module-container">
        <div class="module-column watch">
            <h3></h3>
            <h6>Smarter. Brighter. Mightier.</h6>
        </div>
    </div>
    <div class="module-container">
        <div class="module-column macbook">
            <h3>MacBook Pro</h3>
            <h6>Mind-blowing. Head-turning.</h6>
        </div>
    </div>
    <div class="module-container">
        <div class="module-column ipad">
            <h3>iPad</h3>
            <h6>Lovable. Drawable. Magical.</h6>
        </div>
    </div>
    <div class="module-container">
        <div class="module-column airpods">
            <h3>AirPods Pro</h3>
            <h6>Adaptive Audio. Now playing.</h6>
        </div>
    </div>
    <div class="module-container">
        <div class="module-column apple-card">
            <h3></h3>
            <h6>Get up to 3% Daily Cash back <br> with every purchase.</h6>
        </div>
    </div>
    <div class="module-container">
        <div class="module-column trade-in">
            <h3></h3>
            <h6>Get $180-$620 in credit when <br> you trade in iPhone 11 or higher.</h6>
        </div>
    </div>
</section>

<section class="site-section movies-carousel">
    <div class="gallery js-flickity"
        data-flickity-options='{ "wrapAround": true, "autoPlay": true, "pauseAutoPlayOnHover":false, "draggable": true, "prevNextButtons": false }'>
        <div class="gallery-cell"><img src="assets/images/apple-tv+/killers-of-the-flower-moon.jpg" alt=""></div>
        <div class="gallery-cell"><img src="assets/images/apple-tv+/napoleon-big.jpg" alt=""></div>
        <div class="gallery-cell"><img src="assets/images/apple-tv+/hijack.jpg" alt=""></div>
        <div class="gallery-cell"><img src="assets/images/apple-tv+/monarch-big.jpg" alt=""></div>
        <div class="gallery-cell"><img src="assets/images/apple-tv+/ghosted-big.jpg" alt=""></div>
        <div class="gallery-cell"><img src="assets/images/apple-tv+/invasion.jpg" alt=""></div>
        <div class="gallery-cell"><img src="assets/images/apple-tv+/the-new-look.jpg" alt=""></div>
        <div class="gallery-cell"><img src="assets/images/apple-tv+/masters-of-the-air.jpg" alt=""></div>
        <div class="gallery-cell"><img src="assets/images/apple-tv+/manhunt.jpg" alt=""></div>
        <div class="gallery-cell"><img src="assets/images/apple-tv+/criminal-record.jpg" alt=""></div>
    </div>
</section>

<footer class="home-footer">
    <div class="home-footer-container">
        <p class="home-trade-in">
            Trade-in values will vary based on the condition, year, and configuration of your eligible trade-in
            device. Not all devices are eligible for credit. You must be at least 18 years old to be eligible to
            trade in for credit or for an Apple Gift Card. Trade-in value may be applied toward qualifying new
            device purchase, or added to an Apple Gift Card. Actual value awarded is based on receipt of a
            qualifying device matching the description provided when estimate was made. Sales tax may be
            assessed on the full value of a new device purchase. In-store trade-in requires presentation of a
            valid photo ID (local law may require saving this information). Offer may not be available in all
            stores, and may vary between in-store and online trade-in. Some stores may have additional
            requirements. Apple or its trade-in partners reserve the right to refuse or limit the quantity of
            any trade-in transaction for any reason. More details are available from Apple’s trade-in partner
            for trade-in and recycling of eligible devices. Restrictions and limitations may apply.
            <br>
            <br>
            To access and use all Apple Card features and products available only to Apple Card users, you must
            add Apple Card to Wallet on an iPhone or iPad that supports and has the latest version of iOS or
            iPadOS. Apple Card is subject to credit approval, available only for qualifying applicants in the
            United States, and issued by Goldman Sachs Bank USA, Salt Lake City Branch.
            <br>
            <br>
            If you reside in the U.S. territories, please call Goldman Sachs at 877-255-5923 with questions
            about Apple Card.
            <br>
            <br>
            A subscription is required for Apple TV+.
        </p>
    </div>
</footer>