<header class="site-header">
    <nav>
        <ul>
            <li class="site-title"><a href="">Apple</a></li>
            <li><a href="">Store</a></li>
            <li><a href="">Mac</a></li>
            <li><a href="">iPad</a></li>
            <li><a href="">iPhone</a></li>
            <li><a href="">Add Products</a></li>
            <li><a href="">Accessories</a></li>
            <li><a href="">Add Accessories</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Support</a></li>
            <li><a href="" class="login-register">Login</a></li>
        </ul>
    </nav>
</header>