<header class="site-header">
    <nav>
        <ul>
            <li class="site-title"><a routerLink ="/">Apple</a></li>
            <li><a routerLink="/">Store</a></li>
            <li><a routerLink="">Mac</a></li>
            <li><a routerLink="">iPad</a></li>
            <li><a routerLink="">iPhone</a></li>
            <li><a routerLink="/add-products">Add Products</a></li>
            <li><a routerLink="">Add Accessories</a></li>
            <li><a routerLink="/support">Support</a></li>
            <li><a routerLink="/login-register" class="login-register">Login</a></li>
        </ul>
    </nav>
</header>