<div class="grey">
    <section class="site-section ipad-pro">
        <div class="ipad-section-content">
            <div class="ipad-row">
                <div class="ipad-pro-text">
                    <h1>iPad Pro</h1>
                    <p>Supercharged by</p>
                    <figure class="m2-chip"></figure>
                </div>
                <div class="ipad-pro-image">
                    <figure class="image-ipad-pro"></figure>
                </div>
            </div>
        </div>
    </section>
    <section class="site-section ipad-10-9">
        <div class="ipad-section-content">
            <div class="ipad-row">
                <div class="ipad-10-9-image">
                    <figure class="image-ipad-10-9"></figure>
                </div>
                <div class="ipad-10-9-text">
                    <h1>iPad</h1>
                    <p>Lovable. Drawable. Magical.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="site-section ipad-catalog">
        <div class="ipad-catalog-content">
            <h1>Which iPad is right for you?</h1>
            <div *ngIf="ipads && ipads.length > 0" class="ipad-grid-container">
                <div *ngFor="let ipad of ipads" class="ipad-card">
                    <div class="ipad-card-container">
                        <div class="ipad-card-image-container">
                            <img src="{{ ipad.imageUrl }}" alt="Card" class="ipad-card-image">
                        </div>
                        <div class="ipad-card-info">
                            <h4 class="ipad-card-name">{{ ipad.name }}</h4>
                            <p class="ipad-card-description">{{ ipad.description }}</p>
                            <span class="ipad-card-pripade">${{ ipad.price.split(",")[0] }}<span class="ipad-card-superscript">,{{ ipad.price.split(",")[1] }}</span></span>
                            <div class="ipad-buttons">
                                <a class="ipad-learn-more" routerLink="/ipad-catalog/ipad-details/{{ ipad._id }}">Learn more</a>
                                <a class="ipad-buy" routerLink="/ipad-catalog/ipad-details/{{ ipad._id }}">Buy ></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!ipads || ipads.length === 0" class="ipad-no-products">
            <h1>There are no products added yet.</h1>
        </div>
        </div>
    </section>
    <section class="site-section apple-pros">
        <div class="apple-services">
            <div class="daily-cash">
                <div class="apple-services-wrapper">
                    <div class="apple-services-text">
                        <h2>Get 3% Daily Cash <br> back with Apple Card.</h2>
                        <p>And pay over time, interest‑free <br> when you choose to check out with <br> Apple Card Monthly Installments.</p>
                    </div>
                    <div class="daily-cash-image">
                        <figure class="daily-cash"></figure>
                    </div>
                </div>
            </div>
            <div class="trade-in-ipad">
                <div class="apple-services-wrapper">
                    <div class="apple-services-text">
                        <h2>Trade in your current <br> iPad and get credit <br> toward a new one.</h2>
                        <p>With Apple Trade In, just give us your <br> eligible iPad and get credit for a new one. <br> It’s good for you and the planet.</p>
                    </div>
                    <div class="trade-in-ipad-image">
                        <figure class="image-trade-in-ipad"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="site-section buystrip">
        <div class="ipad-section-content">
            <div class="three-tiles">
                <div class="buystrip-ffd">
                    <figure class="carton-box"></figure>
                    <p class="buystrip-headline">Fast, free delivery</p>
                    <p>Or pick up available items at <br> an Apple Store.</p>
                </div>
                <div class="buystrip-apr">
                    <figure class="coin"></figure>
                    <p class="buystrip-headline">Pay monthly at 0% APR</p>
                    <p>You can pay over time when you <br> choose to check out with <br> Apple Card Monthly <br>
                        Installments.</p>
                </div>
                <div class="buystrip-apt">
                    <figure class="personalize"></figure>
                    <p class="buystrip-headline">Add that personal touch.</p>
                    <p>Engrave a mix of emoji, names, <br> initials and numbers. All for free.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="site-section ipad-essentials">
        <div class="ipad-section-content">
            <h1>iPad Essentials</h1>
        </div>
        <div class="ipad-accessories">
            <div class="pencil-keyboard">
                <div class="apple-pencil">
                    <div class="ipad-accessories-text">
                        <h2>Apple Pencil</h2>
                        <p>Dream it up. Jot it down.</p>
                    </div>
                    <div class="apple-pencil-image">
                        <figure class="pencil-image"></figure>
                    </div>
                </div>
                <div class="ipad-keyboard">
                    <div class="ipad-keyboard-image">
                        <figure class="keyboard-image"></figure>
                    </div>
                    <div class="ipad-accessories-text">
                        <h2>Keyboards for iPad</h2>
                        <p>Keyboards that have you covered.</p>
                    </div>
                </div>
            </div>
            <div class="ipad-all-accessories">
                <div class="ipad-accessories-text">
                    <h2>Accessories</h2>
                    <p>Explore cases, covers, keyboards, <br> Apple Pencil, AirPods, and more.</p>
                </div>
                <div class="ipad-all-accessories-image">
                    <figure class="all-accessories-image"></figure>
                </div>
            </div>
        </div>
    </section>
    <section class="site-section promo-section">
        <div class="ipad-section-content">
            <h1>What makes iPad an iPad?</h1>
        </div>
        <div class="ipad-promo-section">
            <div class="why-ipad">
                <div class="why-ipad-text">
                    <h2>Why iPad</h2>
                    <p>Yes, it does that. <br> And then some.</p>
                </div>
                <div class="why-ipad-image">
                    <figure class="image-wi"></figure>
                </div>
            </div>
            <div class="fcp-lp">
                <div class="fcp-lp-text">
                    <h2>Final Cut Pro <br> and <br> Logic Pro <br> for iPad</h2>
                </div>
                <div class="final-cut-image">
                    <figure class="final-cut-pro"></figure>
                </div>
                <div class="logic-image">
                    <figure class="logic-pro"></figure>
                </div>
            </div>
            <div class="ios-17">
                <div class="ios-17-text">
                    <h2>iPadOS 17</h2>
                    <p>Even more capable. <br> Even more you.</p>
                </div>
            </div>
            <div class="icloud-apple-pay">
                <div class="icloud">
                    <div class="icloud-text">
                        <h2>iCloud</h2>
                        <p>The best place for all your <br> photos, files, and more.</p>
                    </div>
                    <div class="icloud-image">
                        <figure class="image-icloud"></figure>
                    </div>
                </div>
                <div class="apple-pay">
                    <div class="apple-pay-text">
                        <h2></h2>
                        <p>The safer way to make secure, <br> contactless purchases in stores and online.</p>
                    </div>
                    <div class="apple-pay-image">
                        <figure class="image-apple-pay"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="site-section section-get-more">
        <div class="ipad-section-content">
            <h1>Get more out of your iPad</h1>
        </div>
        <div class="get-more">
            <div class="apple-one">
                <div class="apple-one-image">
                    <figure class="image-apple-one"></figure>
                </div>
                <div class="apple-one-text-wrapper">
                    <div class="apple-one-text">
                        <h2></h2>
                        <p>Bundle up to six Apple services. <br> And enjoy more for less.</p>
                    </div>
                </div>
            </div>
            <div class="get-more-grid">
                <div class="apple-tv-plus get-more-card">
                    <div class="apple-tv-plus-text">
                        <h2></h2>
                        <p>Get 3 months of Apple TV+ free <br> when you buy an iPad.</p>
                    </div>
                    <div class="apple-tv-plus-images-1">
                        <figure class="image-apple-tv-plus-1"></figure>
                        <figure class="image-apple-tv-plus-2"></figure>
                        <figure class="image-apple-tv-plus-3"></figure>
                    </div>
                    <div class="apple-tv-plus-images-2">
                        <div class="overflow-hidden">
                            <figure class="image-apple-tv-plus-4"></figure>
                            <figure class="image-apple-tv-plus-5"></figure>
                            <figure class="image-apple-tv-plus-6"></figure>
                            <figure class="image-apple-tv-plus-7"></figure>
                        </div>
                    </div>
                </div>
                <div class="apple-music get-more-card">
                    <div class="apple-music-text">
                        <h2></h2>
                        <p>Over 100 million songs. <br> Start listening for free today.</p>
                    </div>
                    <div class="apple-music-images">
                        <figure class="image-apple-music-1"></figure>
                        <figure class="image-apple-music-2"></figure>
                        <figure class="image-apple-music-3"></figure>
                    </div>
                </div>
                <div class="apple-fitness-plus get-more-card">
                    <div class="apple-fitness-plus-text">
                        <h2></h2>
                        <p>From HIIT to Meditation, <br> there’s something for everyone.</p>
                    </div>
                    <div class="apple-fitness-plus-image">
                        <figure class="image-apple-fitness-plus"></figure>
                    </div>
                </div>
                <div class="apple-arcade get-more-card">
                    <div class="apple-arcade-text">
                        <h2></h2>
                        <p>Get 3 months of Apple Arcade free <br> when you buy an iPad.</p>
                    </div>
                    <div class="apple-arcade-image">
                        <figure class="image-apple-arcade"></figure>
                    </div>
                </div>
                <div class="apple-news-plus get-more-card">
                    <div class="apple-news-plus-text">
                        <h2></h2>
                        <p>Get 3 months of Apple News+ free <br> when you buy an iPad.</p>
                    </div>
                    <div class="apple-news-plus-image">
                        <figure class="image-apple-news-plus"></figure>
                    </div>
                </div>
                <div class="apple-gift-card get-more-card">
                    <div class="apple-gift-card-text">
                        <h2></h2>
                        <p>For everything and everyone.</p>
                    </div>
                    <div class="apple-gift-card-image">
                        <figure class="image-apple-gift-card"></figure>
                    </div>
                </div>
                <div class="apple-and-education get-more-card">
                    <div class="apple-and-education-text">
                        <h2>Apple and Education</h2>
                        <p>Empowering educators and students to <br> move the world forward.</p>
                    </div>
                    <div class="apple-and-education-image">
                        <figure class="image-apple-and-education"></figure>
                    </div>
                </div>
                <div class="apple-at-work get-more-card">
                    <div class="apple-at-work-text">
                        <h2>Apple at Work</h2>
                    </div>
                    <div class="apple-at-work-image">
                        <figure class="image-apple-at-work"></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>