.site-header {
    width: 100%;
    background-color: rgba(22, 22, 23, .8);
    position: fixed;
    top: 0;
    z-index: 1000;
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header nav {
    margin: 0 auto;
    width: 850px;
}

.site-header nav ul {
    display: flex;
    height: 2em;
    justify-content: space-between;
    align-items: center;
    list-style: none outside;
}

.site-header nav a {
    font-family: "SF Pro Text", sans-serif;
    text-decoration: none;
    color: #ffffffcc;
    font-size: 0.6em;
    font-weight: 200;
    text-decoration-color: #ffffffcc;
    letter-spacing: -.01em;
    line-height: 1;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.site-header nav a:hover {
    color: #ffffff;
}

.site-header nav a.login-register-logout {
    padding: 0.25rem;
    background-color: #ffffffcc;
    color: #1D1D1Fcc;
    font-weight: bold;
    border-radius: 50px;
    transition: color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.site-header nav a.login-register-logout:hover {
    background-color: #ffffff;
    color: #1D1D1F;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

.site-header nav .site-title a {
    display: block;
    width: 16px;
    height: 42px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url("../../../assets/images/apple-logo/apple-logo-svg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.site-header nav .site-title a:hover {
    opacity: 1;
}