<section class="site-section hb">
    <div class="banner">
        <img src="../../../assets/images/apple-banners/banner.jpg" alt="">
    </div>
</section>
<section class="site-section sc">
    <div class="support-content avp-youtube">
        <div class="support-page-content">
            <h3>Apple Vision Pro on YouTube</h3>
            <p>Learn about Apple Vision Pro and all your Apple devices and services on our official YouTube channel.</p>
            <a target="_blank" href="https://www.youtube.com/applesupport">Visit Apple Support on YouTube </a>
        </div>
        <div class="support-page-image">
            <img src="../../../assets/images/apple-support/apple-support.png" alt="">
        </div>
    </div>
    <div class="support-content fs-as">
        <div class="support-page-content">
            <h3>Join free sessions at your Apple Store</h3>
            <p>Learn about the latest features and how to go further with your Apple devices.</p>
        </div>
        <div class="support-page-image">
            <img src="../../../assets/images/apple-support/apple-store-sessions.png" alt="">
        </div>
    </div>
    <div class="gs-asa">
        <div class="gs">
            <div class="gs-content">
                <h3>Get Support</h3>
                <p>Give us a few details and we’ll offer the best solution. Connect by phone, chat, email, and more.</p>
            </div>
            <div class="gs-image">
                <img src="../../../assets/images/apple-support/support-crew.png" alt="">
            </div>
        </div>
        <div class="asa">
            <div class="asa-content">
                <h3>Apple Support App</h3>
                <p>Get help for all of your Apple products in one place, or connect with an expert.</p>
            </div>
            <div class="asa-image">
                <img src="../../../assets/images/apple-support/apple-support-app.png" alt="">
            </div>
        </div>
    </div>
    <div class="support-content acp">
        <div class="support-page-content">
            <h3>AppleCare+</h3>
            <p>Get unlimited repairs for accidental damage protection, 24/7 priority access to Apple experts, and more.
            </p>
        </div>
        <div class="support-page-image">
            <img src="../../../assets/images/apple-support/applecare.png" alt="">
        </div>
    </div>
    <div class="support-content ati">
        <div class="support-page-content">
            <h3>Apple Trade In</h3>
            <p>Turn an eligible device into credit towards a new one, or recycle it for free.</p>
        </div>
        <div class="support-page-image">
            <img src="../../../assets/images/apple-support/trade-in.png" alt="">
        </div>
    </div>
    <div class="support-content sarr">
        <div class="support-page-content">
            <h5>Safe and reliable repairs</h5>
            <p>
                At Apple, every product we make is built to last. We design durable, easy-to-use devices with
                innovative <br> features that customers depend on, all while protecting their privacy and data.
                Customers should have <br> access to safe, reliable, and secure repairs with genuine Apple parts if they
                need them.
            </p>
            <p>
                Learn more about Apple’s approach to expanding access to safe and reliable repairs.
                <a target="_blank"
                    href="https://support.apple.com/content/dam/edam/applecare/images/en_US/otherassets/programs/Expanding_Access_to_Service_and_Repairs.pdf">
                    View (PDF)
                </a>
            </p>
        </div>
    </div>
    <div class="support-content beware">
        <div class="bcp">
            <div class="bcp-content">
                <h5>Beware of counterfeit parts</h5>
                <p>
                    Some counterfeit and third party power adapters and batteries may <br> not be designed properly
                    and could result in safety issues. To ensure <br> you receive a genuine Apple battery during a
                    battery replacement, we <br> recommend visiting an Apple Store or Apple Authorized Service <br>
                    Provider. If you need a replacement adapter to charge your Apple <br> device, we recommend
                    getting an Apple power adapter.
                </p>
                <p>
                    Also non-genuine replacement displays may have compromised visual quality and may fail to
                    work correctly. Apple-certified screen repairs are performed by trusted experts who use
                    genuine Apple parts.
                </p>
            </div>
        </div>
        <div class="bgcs">
            <div class="bgcs-image">
                <img src="../../../assets/images/apple-support/gift.svg" alt="">
            </div>
            <div class="bgcs-content">
                <h5>Be aware of gift card scams</h5>
                <p>Be aware of scams involving <br> Apple Gift Cards, App Store & <br> iTunes Gift Cards, and Apple <br>
                    Store Gift Cards.</p>
                <p>Trus Apple site only!</p>
            </div>
        </div>
    </div>
</section>