<section class="site-section welcome-section">
    <div class="section-content">
        <header>
            <h1>iPhone</h1>
            <div class="section-header-copy">
                <p>Designed to be loved.</p>
            </div>
        </header>
    </div>
    <div class="welcome-video">
        <video id="video" autoplay loop onclick="togglePlayPause()">
            <source src="../../../../assets/images/apple-iphone/iphone.mp4" type="video/mp4">
        </video>
    </div>
</section>
<section class="site-section gtk">
    <h1>Get to know iPhone</h1>
    <div class="gtk-grid">
        <div class="gtk-card battery">
            <div class="gtk-container">
                <p class="gtk-title">Battery</p>
                <p class="gtk-description">The power of great battery life.</p>
            </div>
        </div>
        <div class="gtk-card innovation">
            <div class="gtk-container">
                <p class="gtk-title">Innovation</p>
                <p class="gtk-description">Beautiful and durable, <br> by design.</p>
            </div>
        </div>
        <div class="gtk-card pyi">
            <div class="gtk-container">
                <p class="gtk-title">Personalize Your iPhone</p>
                <p class="gtk-description">Make it you. <br> Through and through.</p>
            </div>
        </div>
        <div class="gtk-card privacy">
            <div class="gtk-container">
                <p class="gtk-title">Privacy</p>
                <p class="gtk-description">Your data. <br> Just where you want it.</p>
            </div>
        </div>
    </div>
</section>
<section class="site-section iphone-catalog">
    <div class="iphone-catalog-content">
        <h1>Which iPhone is right for you?</h1>
        <div *ngIf="iphones && iphones.length > 0" class="ic-grid-container">
            <div *ngFor="let iphone of iphones" class="ic-card">
                <div class="ic-card-container">
                    <div class="ic-card-image-container">
                        <img src="{{ iphone.imageUrl }}" alt="Card"
                            class="ic-card-image">
                    </div>
                    <div class="ic-card-info">
                        <h4 class="ic-card-name">{{ iphone.name }}</h4>
                        <p class="ic-card-description">{{ iphone.description }}</p>
                        <span class="ic-card-price">${{ iphone.price.split(",")[0] }}<span class="ic-card-superscript">,{{ iphone.price.split(",")[1] }}</span></span>
                        <div class="ic-buttons">
                            <a class="ic-learn-more" routerLink="/iphone-catalog/iphone-details">Learn more</a>
                            <a class="ic-buy" routerLink="/iphone-catalog/iphone-details">Buy ></a>
                        </div>
                    </div>
                </div>
            </div>












            <div class="ic-card">
                <div class="ic-card-container">
                    <div class="ic-card-image-container">
                        <img src="../../../../assets/images/catalog/iphones/iphone-15-pro.png" alt="Card" class="ic-card-image">
                    </div>
                    <div class="ic-card-info">
                        <h4 class="ic-card-name">iPhone 15 Pro</h4>
                        <p class="ic-card-description">The ultimate iPhone.</p>
                        <span class="ic-card-price">$999<span class="ic-card-superscript">,99</span></span>
                        <div class="ic-buttons">
                            <a class="ic-learn-more" routerLink="/iphone-catalog/iphone-details">Learn more</a>
                            <a class="ic-buy" routerLink="/iphone-catalog/iphone-details">Buy ></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ic-card">
                <div class="ic-card-container">
                    <div class="ic-card-image-container">
                        <img src="../../../../assets/images/catalog/iphones/iphone-15.png" alt="Card" class="ic-card-image">
                    </div>
                    <div class="ic-card-info">
                        <h4 class="ic-card-name">iPhone 15</h4>
                        <p class="ic-card-description">A total powerhouse.</p>
                        <span class="ic-card-price">$1199<span class="ic-card-superscript">,99</span></span>
                        <div class="ic-buttons">
                            <a class="ic-learn-more" routerLink="/iphone-catalog/iphone-details">Learn more</a>
                            <a class="ic-buy" routerLink="/iphone-catalog/iphone-details">Buy ></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ic-card">
                <div class="ic-card-container">
                    <div class="ic-card-image-container">
                        <img src="../../../../assets/images/catalog/iphones/iphone-14.png" alt="Card" class="ic-card-image">
                    </div>
                    <div class="ic-card-info">
                        <h4 class="ic-card-name">iPhone 14</h4>
                        <p class="ic-card-description">As amazing as ever.</p>
                        <span class="ic-card-price">$1199<span class="ic-card-superscript">,99</span></span>
                        <div class="ic-buttons">
                            <a class="ic-learn-more" routerLink="/iphone-catalog/iphone-details">Learn more</a>
                            <a class="ic-buy" routerLink="/iphone-catalog/iphone-details">Buy ></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ic-card">
                <div class="ic-card-container">
                    <div class="ic-card-image-container">
                        <img src="../../../../assets/images/catalog/iphones/iphone-13.png" alt="Card" class="ic-card-image">
                    </div>
                    <div class="ic-card-info">
                        <h4 class="ic-card-name">iPhone 13</h4>
                        <p class="ic-card-description">All kinds of awesome.</p>
                        <span class="ic-card-price">$1199<span class="ic-card-superscript">,99</span></span>
                        <div class="ic-buttons">
                            <a class="ic-learn-more" routerLink="/iphone-catalog/iphone-details">Learn more</a>
                            <a class="ic-buy" routerLink="/iphone-catalog/iphone-details">Buy ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!iphones || iphones.length === 0" class="ic-no-products">
            <h1>There are no products added yet.</h1>
        </div>
    </div>
</section>
<section class="site-section gt">
    <div class="gt-content">
        <header>
            <h1>Take a closer look at <br> our latest models.</h1>
        </header>
        <div class="gt-image-container">
            <p class="gt-image-text">A Guided Tour of <br> iPhone 15 & iPhone 15 Pro</p>
        </div>
    </div>
</section>
<section class="site-section iphone-why-apple">
    <div class="iphone-why-apple-content">
        <header>
            <h1>Why Apple is the best <br> place to buy iPhone.</h1>
        </header>
        <div class="iphone-why-apple-flexbox">
            <div class="trade-in-iphone iphone-why-apple-card">
                <div class="trade-in-iphone-image">
                    <img src="../../../../assets/images/apple-why-apple/trade-in.png" alt="">
                </div>
                <div class="why-iphone-text">
                    <h4>Save with <br> Apple Trade In.</h4>
                    <p>Get $180–$630 in credit toward <br> iPhone 15 or iPhone 15 Pro when you <br> trade in iPhone 11 or higher.</p>
                </div>
            </div>
            <div class="apple-card-iphone iphone-why-apple-card">
                <div class="apple-card-iphone-image">
                    <img src="../../../../assets/images/apple-why-apple/apple-card.png" alt="">
                </div>
                <div class="why-iphone-text">
                    <h4>Pay over time, <br> interest‑free.</h4>
                    <p>When you choose to check out with <br> Apple Card Monthly Installments.</p>
                </div>
            </div>
            <div class="phone-carrier-iphone iphone-why-apple-card">
                <div class="phone-carrier-iphone-image">
                    <img src="../../../../assets/images/apple-why-apple/phone-carrier.png" alt="">
                </div>
                <div class="why-iphone-text">
                    <h4>iPhone carrier deals. <br> Right here at Apple. <br> For as low as $0.</h4>
                    <p>Includes trade‑in and carrier credits. <br> AT&T: up to $700. T‑Mobile: up to <br> $800. Verizon: up to $830.</p>
                </div>
            </div>
            <div class="shopping-iphone iphone-why-apple-card">
                <div class="shopping-iphone-image">
                    <img src="../../../../assets/images/apple-why-apple/shopping-bag.png" alt="">
                </div>
                <div class="why-iphone-text">
                    <h4>Explore a shopping <br> experience designed <br> around you.</h4>
                    <p>When you shop in the <br> Apple Store app.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section ie">
    <div class="ie-content">
        <header>
            <h1>iPhone essentials.</h1>
        </header>
        <div class="ie-accessories">
            <div class="ie-magsafe">
                <h4>MagSafe</h4>
                <p>Snap on a magnetic case, wallet, or both. And get fast, efficient wireless charging.</p>
                <img src="../../../../assets/images/apple-magsafe/apple-magsafe.jpg" alt="">
            </div>

            <div class="ie-airtag">
                <h4>AirTag</h4>
                <p>Attach one to your keys. Put another in your backpack. If they’re misplaced, just use the
                    Find My app.</p>
                <img src="../../../../assets/images/apple-airtag/apple-airtag.jpg" alt="">
            </div>
        </div>
    </div>
</section>