<section class="site-section welcome-section-imac">
    <div class="section-content-imac">
        <header>
            <h1>Mac</h1>
            <div class="section-header-copy-imac">
                <p>If you can dream it, <br> Mac can do it.</p>
            </div>
        </header>
    </div>
    <div class="welcome-video-imac">
        <video id="video" autoplay loop onclick="togglePlayPause()">
            <source src="../../../../assets/images/apple-imac/imac.mp4" type="video/mp4">
        </video>
    </div>
</section>
<section class="site-section imac-gtk">
    <h1>Get to know Mac</h1>
    <div class="imac-gtk-grid">
        <div class="imac-gtk-card performance-and-battery-life">
            <div class="imac-gtk-container">
                <p class="imac-gtk-title">Performance and Battery Life</p>
                <p class="imac-gtk-description">Go fast. Go far.</p>
            </div>
        </div>
        <div class="imac-gtk-card mac-and-iphone">
            <div class="imac-gtk-container">
                <p class="imac-gtk-title">Mac and iPhone</p>
                <p class="imac-gtk-description">Dream team.</p>
            </div>
        </div>
        <div class="imac-gtk-card compatibility">
            <div class="imac-gtk-container">
                <p class="imac-gtk-title">Compatibility</p>
                <p class="imac-gtk-description">Mac runs your <br> favorite apps.</p>
            </div>
        </div>
        <div class="imac-gtk-card privacy-and-security">
            <div class="imac-gtk-container">
                <p class="imac-gtk-title">Privacy and Security</p>
                <p class="imac-gtk-description">Your business is <br> nobody else's</p>
            </div>
        </div>
    </div>
</section>
<section class="site-section imac-catalog">
    <div class="imac-catalog-content">
        <h1>Which Mac is right for you?</h1>
        <div *ngIf="imacs && imacs.length > 0" class="imac-grid-container">
            <div *ngFor="let imac of imacs" class="imac-card">
                <div class="imac-card-container">
                    <div class="imac-card-image-container">
                        <img src="{{ imac.imageUrl }}" alt="Card" class="imac-card-image">
                    </div>
                    <div class="imac-card-info">
                        <h3 class="imac-card-name">{{ imac.name }}</h3>
                        <p class="imac-card-description">{{ imac.description }}</p>
                        <span class="imac-card-primace">${{ imac.price.split(",")[0] }}<span class="imac-card-superscript">,{{ imac.price.split(",")[1] }}</span></span>
                        <div class="imac-buttons">
                            <a class="imac-learn-more" routerLink="/imac-catalog/imac-details/{{ imac._id }}">Learn more</a>
                            <a class="imac-buy" routerLink="/imac-catalog/imac-details/{{ imac._id }}">Buy ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!imacs || imacs.length === 0" class="imac-no-products">
            <h1>There are no products added yet.</h1>
        </div>
    </div>
</section>
<section class="site-section imac-why-apple">
    <div class="imac-why-apple-content">
        <header>
            <h1>Why Apple is the best <br> place to buy Mac.</h1>
        </header>
        <div class="imac-why-apple-flexbox">
            <div class="customize-imac imac-why-apple-card">
                <div class="customize-imac-image">
                    <img src="../../../../assets/images/apple-why-apple/desktop.png" alt="">
                </div>
                <div class="why-imac-text">
                    <h4>Customize you Mac.</h4>
                    <p>Choose your chip, memory, storage, <br> even color.</p>
                </div>
            </div>
            <div class="delivery-imac imac-why-apple-card">
                <div class="delivery-imac-image">
                    <img src="../../../../assets/images/apple-why-apple/delivery.png" alt="">
                </div>
                <div class="why-imac-text">
                    <h4>Get flexible delivery <br> and easy pickup.</h4>
                    <p>Choose two‑hour delivery from an <br> Apple Store, free delivery, or easy <br> pickup options.</p>
                </div>
            </div>
            <div class="shop-with-specialist-imac imac-why-apple-card">
                <div class="shop-with-specialist-imac-image">
                    <img src="../../../../assets/images/apple-why-apple/specialist.png" alt="">
                </div>
                <div class="why-imac-text">
                    <h4>Shop live with <br> a specialist.</h4>
                    <p>Let us guide you live over video and <br> answer all of your questions.</p>
                </div>
            </div>
            <div class="get-to-know-imac imac-why-apple-card">
                <div class="get-to-know-imac-image">
                    <img src="../../../../assets/images/apple-why-apple/people.png" alt="">
                </div>
                <div class="why-imac-text">
                    <h4>Get to know your <br> new Mac.</h4>
                    <p>Learn how to get the most out of your <br> new Mac with a free one-on-one <br> Personal Session.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="site-section imac-essentials">
    <div class="imac-essentials-content">
        <header>
            <h1>Mac essentials.</h1>
        </header>
        <div class="imac-essentials-accessories">
            <div class="imac-essentials-mac-accessories">
                <h4>Mac Accessories</h4>
                <p>Explore keyboards, mice, and other essentials.</p>
                <img src="../../../../assets/images/figures/mac-accessories.jpg" alt="">
            </div>

            <div class="imac-essentials-studio-display">
                <h4>Studio Display</h4>
                <p>The 27-inch 5K Retina display pairs beautifully with any Mac.</p>
                <img src="../../../../assets/images/figures/studio-display.jpg" alt="">
            </div>
        </div>
    </div>
</section>