<section class="site-section">
    <div class="imac-edit">
        <div class="form-imac-edit">
            <form>
                <span class="imac-edit-span">iMac</span>
                <h3>iMac</h3>
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Image URL">
                <input type="text" placeholder="CPU">
                <input type="text" placeholder="GPU">
                <input type="text" placeholder="Description">
                <input type="number" placeholder="Display (inch)">
                <input type="number" placeholder="Storage">
                <input type="number" placeholder="Price">
                <button>Edit</button>
            </form>
        </div>
    </div>
</section>