<div class="container-login-register" id="container">
    <div class="form-container sign-up">
        <span>Apple</span>
        <form [formGroup]="form" (ngSubmit)="register()">
            <h3>Sign Up</h3>
            <input type="email" placeholder="Email" formControlName="email">
            <ng-container *ngIf="email?.touched">
                <div class="error-msg" *ngIf="isEmailRequired">Email is required!</div>
                <div class="error-msg" *ngIf="isEmailValid">Email is invalid!</div>
            </ng-container>

            <ng-container formGroupName="passGroup">
                <input type="password" placeholder="Password" formControlName="password">
                <ng-container *ngIf="password?.touched">
                    <div class="error-msg" *ngIf="isPasswordRequired">Password is required!</div>
                </ng-container>

                <input type="password" placeholder="Repeat Password" formControlName="rePassword">
                <ng-container *ngIf="rePassword?.touched">
                    <div class="error-msg" *ngIf="areMatching || isrePasswordRequired">Passwords don't match!</div>
                </ng-container>
            </ng-container>
            <button class="white">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <span>Apple</span>
        <form>
            <h3>Sign In</h3>
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Password">
            <button class="white">Sign In</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h3>Welcome back!</h3>
                <p>Enter your personal details to use all of the site features</p>
                <button class="hidden" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h3>Hello, Customer!</h3>
                <p>Register with your personal details to use all of the site features</p>
                <button class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
</div>